
@using DENTALMIS.Web.Extension
@model DENTALMIS.Web.Models.RoleViewModel
@{
    ViewBag.Title = (Model.Id != null) ? "Edit Role" : "Create Role";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
<div>
    @using (Html.BeginForm("Save", "Role", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)

        <div class="form_group ">
            <div>
                @Html.LabelFor(model => model.Name)
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "text ui-widget-content ui-corner-all" } })
            </div>
            <div>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>


        <div style="float: right">
            @Html.SaveButton()
        </div>

    }
</div>

