
@using DENTALMIS.Web.Extension
@model DENTALMIS.Web.Areas.DrugSection.Models.ViewModel.DrugGenericViewModel
           
@{
    ViewBag.Title =(Model.GenericId>0) ?"Edit":"Save";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";
}
@using (Html.BeginForm("Save", "DrugGeneric", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.GenericId)
    <fieldset>
        <legend>Drug Entry</legend>
        <table style="font-size: 15px; font-weight: bolder">
            <tr>
                <td>
                    @Html.LabelFor(x=>x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x=>x.Name)
                    @Html.ValidationMessageFor(x=>x.Name)
                </td>
                @*<td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>*@
            </tr>
            @*<tr>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
                <td>
                    @Html.LabelFor(x => x.Name)
                </td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
            </tr>*@
            <tr>
                @*<td></td>
                <td></td>
                <td></td>
                <td></td>*@
                <td></td>
                <td style="float: right;">@Html.SaveButton()</td> 
            </tr>
            
        </table>
    </fieldset>
    
}

