@using DENTALMIS.Web.Extension
@model DENTALMIS.Web.Models.EmployeeViewModel.EmployeeViewModel
@{
    ViewBag.Title = (Model.ClinicEmployeeId > 0) ? "Edit" : "Save";
    Layout = "~/Views/Shared/_Layout.Dialog.cshtml";

}
@using (Html.BeginForm("Save", "EmployeeDetails", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ClinicEmployeeId)
    @*@Html.ValidationSummary(true)*@
    <table>
        <tr class="form_group">
            <td>
                @Html.LabelFor(x => x.Name)
                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "text ui-widget-content ui-corner-all" } })

                @Html.ValidationMessageFor(x => x.Name)
            </td>
            <td></td>
            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td>
            <td>
                @Html.LabelFor(x => x.Gender.Title)
                @Html.DropDownListFor(x => x.GenderId, Model.GenderSelectListItems, "--All", new { @class = "text ui-widget-content ui-corner-all" })
                @Html.ValidationMessageFor(x => x.Gender.Title)
            </td>


            </td>
        </tr>
        <tr class="form_group">

            <td>
                @Html.LabelFor(x => x.Employeedesignation.DesinationName)
                @Html.DropDownListFor(x => x.EmployeeDesignationId, Model.EmployeDesigSelectListItems, "--All", new { @class = "text ui-widget-content ui-corner-all" })
                @Html.ValidationMessageFor(x => x.Employeedesignation.DesinationName)
            </td>
            <td></td>
            <td></td>

            <td></td>

            <td></td>

            <td></td>
            <td>
                @Html.LabelFor(x => x.Contact)
                @Html.EditorFor(x => x.Contact, new { htmlAttributes = new { @class = "text ui-widget-content ui-corner-all" } })

                @Html.ValidationMessageFor(x => x.Contact)


            </td>

        </tr>
        <tr class="form_group">
            <td>
                @Html.LabelFor(x => x.Address)
                @Html.EditorFor(x => x.Address, new { htmlAttributes = new { @class = "text ui-widget-content ui-corner-all" } })

                @Html.ValidationMessageFor(x => x.Address)
            </td>
            <td></td>
            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td>
                @Html.LabelFor(x => x.Email)
                @Html.EditorFor(x => x.Email, new { htmlattributes = new { @class = "text ui-widget-content ui-corner-all" } })
                @Html.ValidationMessageFor(x => x.Email)
            </td>
        </tr>
        <tr class="form_group">

          
            <td>
                @Html.LabelFor(x => x.Salary)
                @Html.EditorFor(x => x.Salary, new { htmlAttributes = new { @class = "text ui-widget-content ui-corner-all" } })
                @Html.ValidationMessageFor(x => x.Salary)
            </td>

        </tr>
       

        <tr>
            <td class="form_group" style="float: right;">
                @Html.SaveButton()
            </td>
        </tr>
    </table>
}

